# Ignore the virtual environment directory
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class

# Ignore Django migration files
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
*.db

# Ignore media and static files
media/
staticfiles/

# Ignore local configuration files
.env
*.env
local_settings.py

# Ignore IDE/editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore system specific files
.DS_Store
Thumbs.db
