{% extends "static/components/tabela.html" %}
{% load static %}


{% block colNamesTop %}
    {% for colNames in colNames %}
        <th>{{ colNames }}</th>
    {% endfor %}

{% endblock %}
{% block colDatas %}
    {% for data in data %}
        <tr class="table table-light">
            <td> {{ data.nome }}</td>
            <td>{{ data.local }}</td>
            <td><a href="{% url 'editar_equipamento' id=data.id %}">{% include "static/components/btnEdit.html" %}</a>
                <a   data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                   {% include "static/components/btnExclusao.html" %}
                </a>
            </td>
            {% include 'static/components/modal/modal.html' with nomeModal="staticBackdrop" urlString="deletar_equipamento"  id=data.id modalTextBody="Deseja apagar o equipamento" equipamentoNome=data.nome  modalTitle="ATENÇÃO!" %}
        </tr>
    {% endfor %}
{% endblock %}

{% block colNamesBottom %}
    {% for colNames in colNames %}
        <th>{{ colNames }}</th>
    {% endfor %}


    <script src="{% static "js/tableConfig.js" %}"></script>
{% endblock %}
